pandas>=2.0.0
duckdb>=0.8.0
tqdm>=4.65.0
python-dotenv>=1.0.0
numpy>=1.24.0
matplotlib>=3.5.0
seaborn>=0.11.0
fsspec>=2023.1.0
azure-storage-blob>=12.17.0
azure-storage-file-datalake>=12.12.0
azure-identity>=1.13.0
ipykernel>=6.25.0
nbformat>=5.9.0
nbclient>=0.8.0
PyYAML>=6.0
requests>=2.31.0
ocha-stratus==0.1.1
coloredlogs==15.0.1
python-dotenv
jupyter-black
marimo
plotly
