name: Check Slow Onset

on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC
  workflow_dispatch:
    inputs:
      force:
        description: 'Force update even if no changes'
        required: false
        default: 'false'
        type: choice
        options:
          - 'true'
          - 'false'

jobs:
  check-monitoring:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - name: Run monitoring check
        env:
          HAPI_APP_IDENTIFIER: ${{ secrets.HAPI_APP_IDENTIFIER }}
          DSCI_AZ_BLOB_DEV_SAS: ${{ secrets.DSCI_AZ_BLOB_DEV_SAS }}
          DSCI_AZ_BLOB_DEV_SAS_WRITE: ${{ secrets.DSCI_AZ_BLOB_DEV_SAS_WRITE }}
          LISTMONK_API_KEY: ${{ secrets.LISTMONK_API_KEY }}
          LISTMONK_API_UID: ${{ secrets.LISTMONK_API_UID }}
          LISTMONK_URL: ${{ vars.LISTMONK_URL }}
          TEST_LIST: ${{ vars.TEST_LIST || 'false' }}
        run: uv run check_slow_onset.py ${{ github.event.inputs.force == 'true' && '--force' || '' }}